<?xml version="1.0"?>
<model>
  <name>go2_description</name>
  <version>1.0.0</version>
  <sdf version="1.6">go2_description.sdf</sdf>
  <author>
    <name>Unitree</name>
    <email>support@unitree.com</email>
  </author>
  <description>
    Unitree Go2 robot model for Gazebo simulation
  </description>
</model>
